<!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer> -->
<div id="footer-transition">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M 0 20 C 0 20, 20 60, 40 20 S 70 50, 100 0 V 100 H 0 Z" fill="#4cc8a7" stroke="transparent"/>
  </svg>
</div>
<div id="contact" class="section section-green">
    <div class="container">
        <div class="row">
            <p><a href="/privacy-policy/">Privacy Policy</a></p>
        </div>
        <div class="row">
            <p>Built with <i class="fa fa-heart"></i> by Jonathan Bayless.</p>
        </div>
        <div class="row">
            <p><i class="fa fa-envelope"></i> <a href="mailto:contact@autodo.app">Email</a></p>
        </div>
        <div class="row">
            <p>© 2019</p>
        </div>
    </div>
</div>
