@import 'variables';
@import 'carousel';

html {
  scroll-behavior: smooth;
  background-color: $light-background;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 300;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-60 { font-size: 60px; }

.header {
  // @include angle-edge($angle: 2.5, $angle-position-y: 'bottom', $angle-position-x: 'right');
  color: #fff;
  overflow: visible;
  margin: 0 0 0 0;
  border: 0;
  padding: 0;
  display: block;
  background: linear-gradient(to bottom left, $autodo-green, darken($autodo-green, 20%));
  width: 100%;
}

.header-content {
  width: 200px;
}

.header-title {
  text-align: center;
}
.screenshot {
  width: 20vw;
  display: block;
  margin: 0 0 0 auto;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
  overflow: visible;
}
.phone {
  position: relative;
  overflow: visible;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 6rem 0 5rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 8rem 0 7rem;
  }
  .hero {
    padding: 10rem 0 9rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 10rem 0 9rem;
  }
  .hero {
    padding: 16rem 8rem 15rem;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -10rem;
    max-height: 500px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 470px;
  }
}

.logo {
  color: rgba($color: #ffffff, $alpha: 0.9);
  font-size: 64px;
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  display: inline;
}

.subtitle {
  color: rgba($color: #ffffff, $alpha: 0.9);
  font-size: 22px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  display: inline;
}

.section-green {
  background: $autodo-green;
  color: $font-light;
}

.section-gray {
  background: rgba(#b7bfbb, 0.4);
  color: $font-dark;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  // position: fixed;
  z-index: 4;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: inherit;
  color: $font-light;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $autodo-green;
  color: $font-dark;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: $autodo-green;
  color: $font-dark;
}
.left {
  float: left;
}

.right {
  float: right;
}

.play-link img {
  width: 175px;
  padding: 1rem;
}

#header {
  font-size: 0; // this is needed to remove the space after 
                // the divider
  svg {
    bottom: 0;
    width: 100%;
    height: 10vw;
  }
}

#download {
  font-size: 0; // this is needed to remove the space after 
                // the divider
  svg {
    bottom: 0;
    width: 100%;
    height: 10vw;
  }
}

#contact {
  color: $font-dark;
  padding: 1rem 0 3rem;
  a {
    color: $link-dark;
  }
}

#footer-transition {
  font-size: 0; // this is needed to remove the space after 
                // the divider
  svg {
    bottom: 0;
    width: 100%;
    height: 10vw;
  }
}

.vert-align {
  display: flex;
  align-items: center;
}

.emphasized {
  color: $brand-color;
  font-weight: 800;
  font-size: 1.75rem;
}