/**
 * auToDo specific
 */
$autodo-green: #4cc8a7;
$font-dark: #333;
$link-dark: #3333ee;
$light-background: #eee;
$font-light: #eee;

/**
 * Minima specific
 */
$brand-color:           darken($autodo-green, 15%) !default;
$brand-color-light:     lighten($brand-color, 10%) !default;
$brand-color-dark:      darken($brand-color, 20%) !default;

$text-color:            $font-dark;
$background-color:      $light-background;
$code-background-color: #cde !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 36%) !default;
$table-border-color:    $brand-color-light !default;